* {
    border-radius: 0;
}

headerbar {
    min-height: 30px;
    padding: 0;
    margin: 0;
}

tabbar tabbox {
    min-height: 30px;
    background-color: #1d2021;
    padding: 0;
    margin: 0;
}

tabbar tabbox tab{
    color: #fbf1c7;
    padding: 0;
    margin: 0;
}

tabbar tabbox tab:selected {
    background-color: #282828;
    color: #fbf1c7;
    padding: 0;
    margin: 0;
}

tabbar tabbox tab label {
    font-size: 16px;
    font-family: "Maple Mono";
}
