[Unit]
Description=Nautilus file manager background service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/nautilus --gapplication-service
Restart=on-failure

[Install]
WantedBy=graphical-session.target
